@using System.Linq
@model AccountViewModel;
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <form id="editAccountForm" asp-area="" asp-controller="Accounting" asp-action="@Model.GetAction()">
            <input type="hidden" asp-for="EditMode" />
            @if (Model.AccountGroup != null && Model.AccountGroup.IsKnownAccountGroup(Model.AccountGroups) && string.IsNullOrWhiteSpace(Model.AccountGroup.Name) == false)
            {
                <input type="hidden" asp-for="AccountGroup.Name" />
                <input type="hidden" asp-for="AccountGroup.AccountGroupType" />
            }
            else
            {
                <input type="hidden" id="@Html.IdFor(m => m.AccountGroup.Name)" name="@Html.NameFor(m => m.AccountGroup.Name)" value="@Model.AccountGroups.FirstOrDefault()?.Name" />
                <input type="hidden" id="@Html.IdFor(m => m.AccountGroup.AccountGroupType)" name="@Html.NameFor(m => m.AccountGroup.AccountGroupType)" value="@Model.AccountGroups.FirstOrDefault()?.AccountGroupType" />
            }
            @if (Model.EditMode == EditMode.Edit && Model.ValuesAtStatusDate != null)
            {
                <input type="hidden" asp-for="ValuesAtStatusDate.Balance" />
                <input type="hidden" asp-for="ValuesAtStatusDate.Credit" />
                <input type="hidden" asp-for="ValuesAtStatusDate.Available" />
            }
            @if (Model.EditMode == EditMode.Edit && Model.ValuesAtEndOfLastMonthFromStatusDate != null)
            {
                <input type="hidden" asp-for="ValuesAtEndOfLastMonthFromStatusDate.Balance" />
                <input type="hidden" asp-for="ValuesAtEndOfLastMonthFromStatusDate.Credit" />
                <input type="hidden" asp-for="ValuesAtEndOfLastMonthFromStatusDate.Available" />
            }
            @if (Model.EditMode == EditMode.Edit && Model.ValuesAtEndOfLastYearFromStatusDate != null)
            {
                <input type="hidden" asp-for="ValuesAtEndOfLastYearFromStatusDate.Balance" />
                <input type="hidden" asp-for="ValuesAtEndOfLastYearFromStatusDate.Credit" />
                <input type="hidden" asp-for="ValuesAtEndOfLastYearFromStatusDate.Available" />
            }
            <h3>@Model.Accounting.Name.ToHtmlString()</h3>
            @await Html.PartialAsync("_EditAccountIdentificationPartial", Model)
            @await Html.PartialAsync("_EditAccountCoreDataPartial", Model)
            <div class="form-group">
                <label asp-for="AccountGroup"></label>
                <select asp-for="AccountGroup.Number" asp-items="Model.AccountGroups.SelectListFor(Model.AccountGroup?.Number)" class="form-control" onchange="javascript:$().applyValue('#@Html.IdFor(m => m.AccountGroup.Name)', $(this).find('option:selected').text());"></select>
                <span asp-validation-for="AccountGroup" class="text-danger"></span>
            </div>
            @if (Model.EditMode == EditMode.Edit && (Model.ValuesAtStatusDate != null || Model.ValuesAtEndOfLastMonthFromStatusDate != null || Model.ValuesAtEndOfLastYearFromStatusDate != null))
            {
                <div class="table-responsive d-none d-lg-block d-xl-block">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-right">Saldo</th>
                                <th class="text-right">Kredit</th>
                                <th class="text-right">Disponibel</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ValuesAtStatusDate != null)
                            {
                                <tr>
                                    <td>@Html.LabelFor(m => m.ValuesAtStatusDate)</td>
                                    <td class="text-right">@Model.ValuesAtStatusDate.Balance.AsCurrency()</td>
                                    <td class="text-right">@Model.ValuesAtStatusDate.Credit.AsCurrency()</td>
                                    <td class="text-right">@Model.ValuesAtStatusDate.Available.AsCurrency()</td>
                                </tr>
                            }
                            @if (Model.ValuesAtEndOfLastMonthFromStatusDate != null)
                            {
                                <tr>
                                    <td>@Html.LabelFor(m => m.ValuesAtEndOfLastMonthFromStatusDate)</td>
                                    <td class="text-right">@Model.ValuesAtEndOfLastMonthFromStatusDate.Balance.AsCurrency()</td>
                                    <td class="text-right">@Model.ValuesAtEndOfLastMonthFromStatusDate.Credit.AsCurrency()</td>
                                    <td class="text-right">@Model.ValuesAtEndOfLastMonthFromStatusDate.Available.AsCurrency()</td>
                                </tr>
                            }
                            @if (Model.ValuesAtEndOfLastYearFromStatusDate != null)
                            {
                                <tr>
                                    <td>@Html.LabelFor(m => m.ValuesAtEndOfLastYearFromStatusDate)</td>
                                    <td class="text-right">@Model.ValuesAtEndOfLastYearFromStatusDate.Balance.AsCurrency()</td>
                                    <td class="text-right">@Model.ValuesAtEndOfLastYearFromStatusDate.Credit.AsCurrency()</td>
                                    <td class="text-right">@Model.ValuesAtEndOfLastYearFromStatusDate.Available.AsCurrency()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            @if (Model.CreditInfos != null)
            {
                @foreach (KeyValuePair<short, CreditInfoCollectionViewModel> item in Model.CreditInfos.OrderBy(m => m.Key))
                {
                    <p class="font-weight-bold">@Html.LabelFor(m => m.CreditInfos)&nbsp;@Html.Raw(item.Key)</p>
                    @for (int i = 0; i < item.Value.Count; i += 3)
                    {
                        <div class="card-deck mb-4">
                            @for (int j = i; j < Math.Min(i + 3, item.Value.Count); j++)
                            {
                                int elementNo = j;
                                <div class="card">
                                    <div class="card-header">@Html.DisplayFor(m => m.CreditInfos.Items[item.Key].Items[elementNo].MonthAsText)</div>
                                    <div class="card-body">
                                        <input type="hidden" asp-for="CreditInfos.Items[item.Key].Items[elementNo].Year" />
                                        <input type="hidden" asp-for="CreditInfos.Items[item.Key].Items[elementNo].Month" />
                                        @if (Model.CreditInfos.Items[item.Key].Items[elementNo].Editable == false || Model.CreditInfos.Items[item.Key].Items[elementNo].IsCurrentMonth)
                                        {
                                            <div class="form-group">
                                                <label asp-for="CreditInfos.Items[item.Key].Items[elementNo].Balance"></label>
                                                <input type="hidden" asp-for="CreditInfos.Items[item.Key].Items[elementNo].Balance" />
                                                <input type="text" value="@Model.CreditInfos.Items[item.Key].Items[elementNo].Balance.AsCurrency()" class="form-control" readonly />
                                            </div>
                                        }
                                        <div class="form-group">
                                            <label asp-for="CreditInfos.Items[item.Key].Items[elementNo].Credit"></label>
                                            @if (Model.CreditInfos.Items[item.Key].Items[elementNo].Editable == false)
                                            {
                                                <input type="hidden" asp-for="CreditInfos.Items[item.Key].Items[elementNo].Credit" />
                                                <input type="text" value="@Model.CreditInfos.Items[item.Key].Items[elementNo].Credit.AsCurrency()" class="form-control" readonly />
                                            }
                                            else
                                            {
                                                <input asp-for="CreditInfos.Items[item.Key].Items[elementNo].Credit" class="form-control" />
                                                <span asp-validation-for="CreditInfos.Items[item.Key].Items[elementNo].Credit" class="text-danger"></span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    <hr />
                }
            }
            @if (Model.EditMode == EditMode.Edit)
            {
                @await Html.PartialAsync("_AuditablePartial", Model)
            }
            @await Html.PartialAsync("_EditAccountIdentificationOptionsPartial", Model)
        </form>
    </div>
</div>