@model PostingWarningViewModel
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayTextFor(m => m.Reason)</h5>
        <p>@Html.DisplayFor(m => m.PostingLine.PostingDate)&nbsp;@Html.DisplayFor(m => m.PostingLine.Details)</p>
        <p>@Html.DisplayNameFor(m => m.Account):&nbsp;@Html.DisplayFor(m => m.Account.AccountNumber)&nbsp;@Html.DisplayFor(m => m.Account.AccountName)</p>
        <p>@Html.DisplayNameFor(m => m.Amount):&nbsp;@Model.Amount.AsCurrency()</p>
        @if (ViewData["AccountingNumber"] != null && string.IsNullOrWhiteSpace((string) ViewData["PostingJournalResultKey"]) == false)
        {
            <div class="btn-group">
                <a href="#" onclick="javascript:$().removeFromPostingJournalResult(this, '@Model.GetRemovePostingWarningFromPostingJournalResultUrl(Url, (int)ViewData["AccountingNumber"])', @Model.GetRemovePostingWarningFromPostingJournalResultData(Html, (string)ViewData["PostingJournalResultKey"]) );" class="btn btn-primary"><i class="fas fa-trash"></i></a>
            </div>
        }
    </div>
</div>