@model ContactViewModel
@if (string.IsNullOrWhiteSpace(Model.DisplayName) == false || Model.EditMode == EditMode.None)
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="float-left flex-grow-1">
                @if (string.IsNullOrWhiteSpace(Model.DisplayName) == false)
                {
                    <h3>@Model.DisplayName</h3>
                }
            </div>
            <div class="float-right fa-stack">
                @if (Model.EditMode == EditMode.None)
                {
                    <a href="#" onclick="javascript:$().editContact();"><i class="fas fa-pen"></i></a>
                }
            </div>
        </div>
    </div>
}
@if (Model.EditMode == EditMode.Create || Model.EditMode == EditMode.Edit)
{
    <div class="row d-block">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            @await Html.PartialAsync("_EditContactPartial", Model)
        </div>
    </div>
}
else
{
    <div id="editContact" class="row d-none">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            @await Html.PartialAsync("_EditContactPartial", Model)
        </div>
    </div>
    <div id="presentContact" class="row d-block">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div id="contactAccordion">
                @if (Model.Address.IsEmpty == false)
                {
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseAddress">
                                <h5>Adresseoplysninger</h5>
                            </a>
                        </div>
                        <div id="collapseAddress" class="collapse show" data-parent="#contactAccordion">
                            <div class="card-body">
                                @await Html.PartialAsync("_AddressPartial", Model.Address)
                            </div>
                        </div>
                    </div>
                }
                @if (Model.HasContactInfo)
                {
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseContactInfo">
                                <h5>Kontaktoplysninger</h5>
                            </a>
                        </div>
                        <div id="collapseContactInfo" class="collapse show" data-parent="#contactAccordion">
                            <div class="card-body">
                                <dl>
                                    @if (string.IsNullOrWhiteSpace(Model.MailAddress) == false)
                                    {
                                        <dt class="small">@Html.LabelFor(m => m.MailAddress)</dt>
                                        <dd>@Model.MailAddress&nbsp;<a href="mailto:@Model.MailAddress"><i class="fas fa-envelope"></i></a></dd>
                                    }
                                    @if (Model.ContactType == ContactType.Company)
                                    {
                                        @if (string.IsNullOrWhiteSpace(Model.PrimaryPhone) == false)
                                        {
                                            <dt class="small">@Html.LabelFor(m => m.PrimaryPhone)</dt>
                                            <dd>@Model.PrimaryPhone&nbsp;<a href="tel:@Model.PrimaryPhone"><i class="fas fa-phone"></i></a></dd>
                                        }
                                        @if (string.IsNullOrWhiteSpace(Model.SecondaryPhone) == false)
                                        {
                                            <dt class="small">@Html.LabelFor(m => m.SecondaryPhone)</dt>
                                            <dd>@Model.SecondaryPhone&nbsp;<a href="tel:@Model.SecondaryPhone"><i class="fas fa-phone"></i></a></dd>
                                        }
                                    }
                                    @if (Model.ContactType == ContactType.Person)
                                    {
                                        @if (string.IsNullOrWhiteSpace(Model.MobilePhone) == false)
                                        {
                                            <dt class="small">@Html.LabelFor(m => m.MobilePhone)</dt>
                                            <dd>@Model.MobilePhone&nbsp;<a href="tel:@Model.MobilePhone"><i class="fas fa-phone"></i></a></dd>
                                        }
                                        @if (string.IsNullOrWhiteSpace(Model.HomePhone) == false)
                                        {
                                            <dt class="small">@Html.LabelFor(m => m.HomePhone)</dt>
                                            <dd>@Model.HomePhone&nbsp;<a href="tel:@Model.HomePhone"><i class="fas fa-phone"></i></a></dd>
                                        }
                                    }
                                </dl>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}