@model ContactViewModel
<form id="editContactForm" asp-area="" asp-controller="Contact" asp-action="@Model.GetAction()">
    @if (Model.EditMode != EditMode.Create)
    {
        <input type="hidden" asp-for="ExternalIdentifier" />
    }
    <input type="hidden" asp-for="EditMode" />
    @if (Model.ContactGroup.IsKnownContactGroup(Model.ContactGroups) && string.IsNullOrWhiteSpace(Model.ContactGroup.Name) == false)
    {
        <input type="hidden" asp-for="ContactGroup.Name" />
    }
    else
    {
        <input type="hidden" id="@Html.IdFor(m => m.ContactGroup.Name)" name="@Html.NameFor(m => m.ContactGroup.Name)" value="@Model.ContactGroups.FirstOrDefault()?.Name" />
    }
    @if (Model.PaymentTerm.IsKnownPaymentTerm(Model.PaymentTerms) && string.IsNullOrWhiteSpace(Model.PaymentTerm.Name) == false)
    {
        <input type="hidden" asp-for="PaymentTerm.Name" />
    }
    else
    {
        <input type="hidden" id="@Html.IdFor(m => m.PaymentTerm.Name)" name="@Html.NameFor(m => m.PaymentTerm.Name)" value="@Model.PaymentTerms.FirstOrDefault()?.Name" />
    }
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-check-inline">
                <label class="form-check-input">
                    <input asp-for="ContactType" type="radio" value="@ContactType.Person" onclick="javascript:$().applyPersonContent();" />&nbsp;@ContactType.Person.EnumDisplayNameFor()
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-input">
                    <input asp-for="ContactType" type="radio" value="@ContactType.Company" onclick="javascript:$().applyCompanyContent();" />&nbsp;@ContactType.Company.EnumDisplayNameFor()
                </label>
            </div>
            <div id="editContactPersonName" class="d-none">
                <div class="form-group">
                    <label asp-for="GivenName"></label>
                    <input asp-for="GivenName" class="form-control" />
                    <span asp-validation-for="GivenName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname"></label>
                    <input asp-for="Surname" class="form-control" oninput="javascript:$().onSurnameChange();" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div id="editContactCompanyName" class="d-none">
                <div class="form-group">
                    <label asp-for="CompanyName"></label>
                    <input asp-for="CompanyName" class="form-control" oninput="javascript:$().onCompanyNameChange();" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
            </div>
            @await Html.PartialAsync("_EditAddressPartial", Model.Address, "Address")
            <div class="form-group">
                <label asp-for="MailAddress"></label>
                <input asp-for="MailAddress" class="form-control" />
                <span asp-validation-for="MailAddress" class="text-danger"></span>
            </div>
            <div id="editContactCompanyPhoneNumbers" class="d-none">
                <div class="form-group">
                    <label asp-for="PrimaryPhone"></label>
                    <input asp-for="PrimaryPhone" class="form-control" />
                    <span asp-validation-for="PrimaryPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondaryPhone"></label>
                    <input asp-for="SecondaryPhone" class="form-control" />
                    <span asp-validation-for="SecondaryPhone" class="text-danger"></span>
                </div>
            </div>
            <div id="editContactPersonPhoneNumbers" class="d-none">
                <div class="form-group">
                    <label asp-for="MobilePhone"></label>
                    <input asp-for="MobilePhone" class="form-control" />
                    <span asp-validation-for="MobilePhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HomePhone"></label>
                    <input asp-for="HomePhone" class="form-control" />
                    <span asp-validation-for="HomePhone" class="text-danger"></span>
                </div>
            </div>
            <div id="editContactBirthday" class="d-none">
                <div class="form-group">
                    <label asp-for="Birthday"></label>
                    <div class="input-group date">
                        <input asp-for="Birthday" class="form-control" /><span class="input-group-addon"><i class="fas fa-2x fa-calendar"></i></span>
                    </div>
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContactGroup"></label>
                <select asp-for="ContactGroup.Number" asp-items="Model.ContactGroups.SelectListFor(Model.ContactGroup.Number)" class="form-control" onchange="javascript:$().applyValue('#@Html.IdFor(m => m.ContactGroup.Name)', $(this).find('option:selected').text());"></select>
                <span asp-validation-for="ContactGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acquaintance"></label>
                @Html.EditorFor(m => m.Acquaintance, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Acquaintance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePage"></label>
                <input asp-for="HomePage" class="form-control" />
                <span asp-validation-for="HomePage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LendingLimit"></label>
                <input asp-for="LendingLimit" class="form-control" />
                <span asp-validation-for="LendingLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTerm"></label>
                <select asp-for="PaymentTerm.Number" asp-items="Model.PaymentTerms.SelectListFor(Model.PaymentTerm.Number)" class="form-control" onchange="javascript:$().applyValue('#@Html.IdFor(m => m.PaymentTerm.Name)', $(this).find('option:selected').text());"></select>
                <span asp-validation-for="PaymentTerm" class="text-danger"></span>
            </div>
            <div id="addAssociatedCompany" class="d-none">
                <div class="form-group">
                    <a href="#" onclick="javascript:$().addAssociatedCompany('@Model.GetStartAddingAssociatedCompanyUrl(Url)');"><i class="fas fa-plus"></i>&nbsp;Tilknyt firma</a>
                </div>
            </div>
            <div id="editAssociatedCompany" class="d-none">
                @if (Model.Company != null && Model.Company.IsEmpty == false)
                {
                    @await Html.PartialAsync("_EditCompanyPartial", Model.Company, "Company")
                }
            </div>
            @if (Model.EditMode != EditMode.Create)
            {
                @await Html.PartialAsync("_AuditablePartial", Model)
            }
            <button type="submit" class="btn btn-primary">@Model.GetActionText()</button>
            <a class="btn btn-secondary" onclick="javascript:$().cancelEditContact();">Fortryd</a>
        </div>
    </div>
</form>