@model ContactWithUpcomingBirthdayViewModel;
<li class="timeline-item rounded ml-3 p-2 shadow">
    <div class="timeline-arrow"></div>
    @if (string.IsNullOrWhiteSpace(Model.ExternalIdentifier) == false)
    {
        <h2 class="h5"><a asp-controller="Contact" asp-action="Contacts" asp-route-filter="@Model.DisplayName" asp-route-externalIdentifier="@Model.ExternalIdentifier">@Html.DisplayFor(m => m.DisplayName)&nbsp;@Html.DisplayFor(m => m.AgeOnUpcomingBirthday)&nbsp;år</a></h2>
    }
    else
    {
        <h2 class="h5">@Html.DisplayFor(m => m.DisplayName)&nbsp;@Html.DisplayFor(m => m.AgeOnUpcomingBirthday)&nbsp;år</h2>
    }
    <span class="small text-gray"><i class="fas fa-clock mr-1"></i>@Html.DisplayFor(m => m.WeekDayForUpcomingBirthday)&nbsp;den&nbsp;@Html.DisplayFor(m => m.UpcomingBirthday)</span>
    @if (Model.ContactType == ContactType.Company && string.IsNullOrWhiteSpace(Model.PrimaryPhone) == false)
    {
        <p class="text-small mt-2 font-weight-light">@Html.DisplayFor(m => m.PrimaryPhone)&nbsp;<a href="tel:@Model.PrimaryPhone"><i class="fas fa-phone"></i></a></p>
    }
    else if (Model.ContactType == ContactType.Company && string.IsNullOrWhiteSpace(Model.SecondaryPhone) == false)
    {
        <p class="text-small mt-2 font-weight-light">@Html.DisplayFor(m => m.SecondaryPhone)&nbsp;<a href="tel:@Model.SecondaryPhone"><i class="fas fa-phone"></i></a></p>
    }
    else if (Model.ContactType == ContactType.Person && string.IsNullOrWhiteSpace(Model.MobilePhone) == false)
    {
        <p class="text-small mt-2 font-weight-light">@Html.DisplayFor(m => m.MobilePhone)&nbsp;<a href="tel:@Model.MobilePhone"><i class="fas fa-phone"></i></a></p>
    }
    else if (Model.ContactType == ContactType.Person && string.IsNullOrWhiteSpace(Model.HomePhone) == false)
    {
        <p class="text-small mt-2 font-weight-light">@Html.DisplayFor(m => m.HomePhone)&nbsp;<a href="tel:@Model.HomePhone"><i class="fas fa-phone"></i></a></p>
    }
    else if (string.IsNullOrWhiteSpace(Model.MailAddress) == false)
    {
        <p class="text-small mt-2 font-weight-light">@Html.DisplayFor(m => m.MailAddress)&nbsp;<a href="mailto:@Model.MailAddress"><i class="fas fa-envelope"></i></a></p>
    }
</li>