@model AccountCollectionValuesViewModel
<dl class="mb-0">
    <dt>@Html.Raw(ViewData["Header"])</dt>
    <dd class="mb-0">
        <table class="table table-borderless table-sm-nopadding">
            <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Assets)</td>
                <td class="text-right text-nowrap">@Model.Assets.AsCurrency()</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Liabilities)</td>
                <td class="text-right text-nowrap">@Model.Liabilities.AsCurrency()</td>
            </tr>
            </tbody>
        </table>
    </dd>
</dl>