@model BudgetInfoValuesViewModel
<dl class="mb-0">
    <dt>@Html.Raw(ViewData["Header"])</dt>
    <dd class="mb-0">
        <table class="table table-borderless table-sm-nopadding">
            <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Budget)</td>
                <td class="text-right">@Model.Budget.AsCurrency()</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Posted)</td>
                <td class="text-right">@Model.Posted.AsCurrency()</td>
            </tr>
            </tbody>
        </table>
    </dd>
</dl>