@model ContactAccountCollectionValuesViewModel
<dl class="mb-0">
    <dt>@Html.Raw(ViewData["Header"])</dt>
    <dd class="mb-0">
        <table class="table table-borderless table-sm-nopadding">
            <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Debtors)</td>
                <td class="text-right">@Model.Debtors.AsCurrency()</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Creditors)</td>
                <td class="text-right">@Model.Creditors.AsCurrency()</td>
            </tr>
            </tbody>
        </table>
    </dd>
</dl>