@model GenericCategoryCollectionViewModel;
@{
    ViewData["Title"] = Model.Header;
}

<div class="row">
    <div class="col-xl-1 d-none d-xl-block">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <h2>@Model.Header</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Navn</th>
	                    <th>
                            @if (Model.AllowCreation)
                            {
	                            <a asp-area="" asp-controller="@Model.Controller" asp-action="@Model.CreateAction"><i class="fas fa-plus"></i></a>
                            }
	                    </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GenericCategoryViewModel genericCategoryViewModel in Model)
                    {
                        <tr>
                            <td>@genericCategoryViewModel.Number</td>
                            <td>@genericCategoryViewModel.Name</td>
	                        <td>
		                        <span class="fa-stack">
                                    @if (Model.AllowModification)
                                    {
	                                    <a asp-area="" asp-controller="@Model.Controller" asp-action="@Model.UpdateAction" asp-route-number="@genericCategoryViewModel.Number"><i class="fas fa-pen"></i></a>
                                    }
			                        @if (Model.AllowDeletion && genericCategoryViewModel.Deletable)
			                        {
				                        <a href="#" onclick="javascript:$().askForDeletion('Slet @(genericCategoryViewModel.Name.Replace("'", string.Empty))', '@(Model.DeletionUrlGetter(genericCategoryViewModel, Url))', @(genericCategoryViewModel.GetDeletionData(Html)), $(this).parent().parent().parent());"><i class="fas fa-trash"></i></a>
			                        }
		                        </span>
	                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-1 d-none d-xl-block">
    </div>
</div>